* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: #f4f2de;
}
header {
  display: flex;
  justify-content: center;
  background-color: #7c9d96;
  padding: 20px;
  margin-bottom: 40px;
}

p {
  line-height: 1.5;
  font-size: 18px;
}
footer {
  position: fixed;
  width: 70%;
  bottom: 0;
  display: inline-block;
  background-color: #7c9d96;
  z-index: 1;
}
.footer__nav {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.footer__nav li img {
  width: 40px;
}

.questionCard {
  padding: 50px;
  font-size: medium;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 2px #e9b384;
  border-radius: 5px;
  margin: 20px;
  position: relative;
  background-color: #a1ccd1;
}

.questionCard__icon {
  position: absolute;
  right: 10%;
  top: -10px;
}

.icon img {
  width: 30px;
  height: 30px;
}

section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

section ul li {
  border: solid 2px black;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
}

.questionCard__button {
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
}
.questionCard__icon {
  height: 30px;
  width: 30px;
}
