.header__appName {
  margin: auto;
}

.questionCard {
  padding: 50px;
  font-size: medium;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 2px #2a2f4f;
  border-radius: 5px;
  margin: 20px;
  position: relative;
  background-color: #c689c6;
}

.questionCard__icon {
  position: absolute;
  right: 10%;
  top: -10px;
}

.icon img {
  width: 30px;
  height: 30px;
}

section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

section ul li {
  border: solid 2px black;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
}

.questionCard__button {
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
}
.questionCard__icon {
  height: 30px;
  width: 30px;
}
